td.title {
    font-style: italic;
    font-weight: bold;
    text-align: center;
}

table {
    border-collapse: collapse;
}

table th {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    spacing: 10px;
    padding: 10px;
	color: white;
	background: gray;
}

table td {
    border-width: 1px;
    border-style: solid;
    border-color: black;
    spacing: 10px;
    padding: 10px;
}

table .datasize {
    font-style: italic;
	color: white;
	background: gray;
}

.value {
	text-align: right;
}

h2 {
    text-align: center;	
}

tr:nth-child(even) {
	background: #DDD
}

tr:nth-child(odd) {
	background: #FFF
}